$primary-font: "Cabin", sans-serif;
$header-color: #10bbd5;
$color-white: white;
$main-background: #eeeeef;
$grid-green-button: #4d762d;
$grid-purple-button: #4c394e;
$hit-background: #4200ff;
$off-background:#ea33c0;
$new-background: #af39e7;