@use "variables" as v;
.header {
  background-color: v.$header-color;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    padding: 21.5px 0;
  }
  &__cart {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    &-money {
      font-family: v.$primary-font;
    }
    &-count {
      font-family: v.$primary-font;
      font-weight: 400;
      font-size: 12px;
      line-height: 83%;
      color: #000;
      position: absolute;
      top: 30%;
      right: 32%;
    }
  }
}
.header-category {
  background-color: v.$color-white;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    font-family: v.$primary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
  }
  &__navigation {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
