@use 'variables' as v;
.header {
  background-color: v.$header-color;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    padding: 21.5px 0;
  }
  &__cart {
    display: flex;
    align-items: center;
    gap: 8px;
    &-money {
      font-family: v.$primary-font;
    }
  }
}
.header-second {
  background-color: v.$color-white;
  &__container {
    display: flex;
    justify-content: space-between;
  }
}
