@use 'variables';
.main__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 32px 24px;
  padding-bottom: 120px;
}
.grid__container {
  border: 1px solid #a8a8a8;
  padding: 32px;
  background-color: white;
}
.grid__img-container {
  position: relative;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  img {
    margin: 0 auto;
    width: 172px;
  }
}
.grid__name {
  border-bottom: 1px solid #a8a8a8;
}
.grid__autor {
  margin-bottom: 8px;
}
.grid__price-flex {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}
.grid__price {
}
.grid__price-before {
}
.grid__button {
}
.button-green {
  background-color: variables.$grid-green-button;
}
.button-purple {
  background-color: variables.$grid-purple-button;
}
.grid__flex-hit {
  display: flex;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 0;
  p {
  }
}
.grid__hit-background {
  background-color: #4200ff;
}
.grid__new-background {
  background-color: #af39e7;
}
.grid__off-background {
  background-color: #ea33c0;
}
.floating-button {
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: url(../img/chat_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #10bbd5;
  border: none;
  cursor: pointer;
}
