@use "variables" as v;
.main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 32px 24px;
  &__card {
    border: 1px solid #a8a8a8;
    padding: 32px;
    background-color: v.$color-white;
  }
  &__container-img {
    position: relative;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    img {
      margin: 0 auto;
      width: 172px;
    }
  }
  &__name {
    border-bottom: 1px solid #a8a8a8;
    font-family: v.$primary-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #1f1f1f;
    max-width: 242px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__autor {
    font-family: v.$primary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #8e8e8e;
  }
  &__price-flex {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 16px;
  }
  &__price {
    font-family: v.$primary-font;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    color: #e90000;
    &-before {
      font-family: v.$primary-font;
      font-weight: 500;
      font-size: 24px;
      line-height: 133%;
      color: #8e8e8e;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    text-decoration: none;
    font-family: v.$primary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8fdfe;
    border-radius: 4px;
    width: 100%;
    &--purple {
      background-color: v.$grid-purple-button;
    }
    &--green {
      background-color: v.$grid-green-button;
    }
  }
  &__flex-hit {
    display: flex;
    gap: 4px;
    position: absolute;
    top: 0;
    left: 0;
    p {
      border-radius: 4px;
      padding: 4px 8px;
      font-family: v.$primary-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #f8fdfe;
    }
  }
  &__hit-background {
    background-color: v.$hit-background;
  }
  &__new-background {
    background-color: v.$new-background;
  }
  &__off-background {
    background-color: v.$off-background;
  }
}

.grid__flex-hit {
  p {
  }
}
.grid__hit-background {
  background-color: #4200ff;
}
.grid__new-background {
  background-color: #af39e7;
}
.grid__off-background {
  background-color: #ea33c0;
}
.floating-button {
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: url(../img/chat_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #10bbd5;
  border: none;
  cursor: pointer;
}
